#lista{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 45px;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navbar */
.navbar {
    background-color:#fff;
}

#icono{
    color: #212529;
}


.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #fff;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffc107;
}

#bolsa{
    height: 40px;
    width: 25px;
}

/* Carousel */
.carousel-item img {
    max-height: 550px;
    object-fit: cover;
}

/* Productos */


#tarjeta .card {
    transition: transform 0.3s;
    height: 100%;
}

#tarjeta .card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}



/* Footer */
footer {

    margin-top: 8rem;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    height: 7rem;
}

/* Carrito de compras */
#carrito-icon {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }
}
