<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ferretería Ferremas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                            onclick="scrollToSection('inicio')">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="scrollToSection('quienes-somos')">Quiénes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="scrollToSection('tarjeta')">Productos</a>
                    </li>
                </ul>

                <!-- Icono de Carrito de Comprass-->
                <div class="nav-item">
                    <a class="nav-link" href="#" id="carrito" data-bs-toggle="modal" data-bs-target="#carritoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                        <span class="badge bg-primary rounded-pill" id="contador-carrito">0</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <h1 id="lista">Ferretería Ferremas</h1>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../Static/Ferreteria2.jpg" class="d-block w-100" alt="Ferremas">

            </div>
            <div class="carousel-item">
                <img src="../Static/Ferreteria.jpg" class="d-block w-100" alt="../Frontend/Ferremas.png">
            </div>
            <div class="carousel-item">
                <img src="../Static/Ferremas.png" class="d-block w-100" alt="../Frontend/Ferremas.png">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <section id="quienes-somos">
        <div class="container text-center mt-5">
            <h3 class="display-6">Quiénes Somos</h3>
            <div class="row mt-5">
                <div class="col-lg-6 mx-auto">
                    <p id="slogan">“Ferretería Ferremas: Innovación, Calidad y Servicio para Construir un Futuro Mejor.”
                    </p>
                </div>
            </div>
        </div>
    </section>




  <!-- Productos -->
  <section>
    <div class="container text-center mt-5" id="tarjeta">
        <h3 class="display-6">Productos</h3>
        <div class="row mt-5" id="crd">
            {% for producto in productos %}
            <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                <div class="card shadow">
                    <img src="../Static/CierraC.jpg" class="card-img-top" alt="{{ producto.descripcion }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <p class="card-text card-precio">Precio: ${{ producto.precio }}</p>
                        <a href="#" class="btn btn-primary btn-agregar" data-producto-id="{{ producto.id }}">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carritoModalLabel">Productos en el carrito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal, aquí se mostrarán los productos agregados -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="{{ url_for('pagar') }}" class="btn btn-primary">Pagar</a>
            </div>
        </div>
    </div>
</div>






    <!--
    <section>
        <div class="container text-center mt-5" id="tarjeta">
            <h3 class="display-6">Productos</h3>
            <div class="row mt-5" id="crd">
                {% for producto in productos %}
                <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                    <div class="card shadow">
                        <img src="../Static/CierraC.jpg" class="card-img-top" alt="{{ producto.descripcion }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text card-precio">Precio: {{ producto.precio }}</p>
                            <a href="#" class="btn btn-primary btn-agregar" data-producto-id="{{ producto.id }}">Añadir
                                al carrito</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    -->





    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Ferretería Ferremas. Todos los derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>